// Colors

$blue: #1a72c4;
$grey: #d0d0d0;
$black: #3b3b3b;
$white: #ffffff;

$text-color: #333;
$quiet-color: #ccc;
$loud-color: #000;
$heading-color: #111;

$link-color: #d54aaf;
$link-hover-color: saturate(#d54aaf, 20%);
$link-visited-color: #800080;